.navbar-brand{
    color: #333;
}
a{
    color: #aaa;
    font-weight: 200;
}
.facebook{
    margin-left: 1rem;
}
.instagram{
    margin-left: 1rem;
}
.twitter{
    margin-left: 1rem;
}
.github{
    margin-left: 1rem;
}